/*reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/*header*/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0 3px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  display: inline-block;
}

.list {
  display: flex;
  list-style-type: none;
}

.link {
  display: inline-block;
  color: #4a4a4a;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px 13px;
}

/*main*/

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3cdbc0;
}

.title {
  text-align: center;
}

.title-inner {
  display: block;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

/*media*/

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
  }

  .title-inner {
    font-size: 40px;
  }
}
